name: Sync Project Attributes

on:
  workflow_dispatch:
  schedule:
    - cron: "*/10 * * * *"   # every 10 minutes

permissions:
  contents: read
  issues: write
  repository-projects: write

jobs:
  sync-project-attributes:
    runs-on: ubuntu-latest
    environment: podaac projects

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
          cache: 'pip'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install requests

      - name: Run project attribute sync script
        env:
          GITHUB_TOKEN: ${{ secrets.PROJECTS_TOKEN }}
        run: python -m src.sync_projects.sync_attributes