name: Sync Parent ESDIS Reference

on:
  issues:
    types: [opened, edited]

jobs:
  propagate:
    runs-on: ubuntu-latest
    environment: podaac projects
    permissions:
      contents: read
      issues: write
      repository-projects: write

    steps:
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'
      - name: Install dependencies
        run: pip install requests
      - name: Run propagate_esdis_ref
        env:
          PROJECTS_TOKEN: ${{ secrets.PROJECTS_TOKEN }}
          ISSUE_NODE_ID: ${{ github.event.issue.node_id }}
          PROJECT_ID: PVT_kwDOAVayxs4BKQLN
          FIELD_ID: PVTF_lADOAVayxs4BKQLNzg8wxNg
        run: python -m src/sync_projects/propagate_esdis_ref
