name: Sync Parent ESDIS Reference

on:
  issues:
    types: [opened, edited]

permissions:
  contents: read
  issues: write
  repository-projects: write


jobs:
  propagate:
    runs-on: ubuntu-latest
    environment: podaac projects

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'
          cache: 'pip'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install requests debugpy

      - name: Run project attribute sync script
        env:
          PROJECTS_TOKEN: ${{ secrets.PROJECTS_TOKEN }}
          ISSUE_NODE_ID: ${{ github.event.issue.node_id }}
          PROJECT_ID: PVT_kwDOAVayxs4BKQLN
          FIELD_ID: PVTF_lADOAVayxs4BKQLNzg8wxNg
        run:
          python -m src.sync_projects.propagate_esdis_ref
        #run: |
        #    python -m debugpy --listen 0.0.0.0:5678 --wait-for-client src/sync_projects/propagate_esdis_ref.py

